<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
            <h1 class="home-title">Bounty Match</h1>
            <p class="home-text">Chill out with puzzles while<br class="mob"/> exploring your own tropical paradise.</p>
            <a class="home-link" href="https://play.google.com/store/apps/details?id=com.PuzzlePoint.BountyMatch&hl=en&gl=us">
                <img src="/img/home/playstore.png" alt="playstore" loading="lazy">
                <img src="/img/home/button.png" alt="Google Play" loading="lazy">
            </a>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container about-container">
        <div class="about-wrapper">
            <h2>About the Game</h2>
            <p>So basically, it's your standard match-3 game, but we threw in this cool tropical island setting where you're hunting
            for treasure. Players complete levels by matching 3 or more fruit symbols, unlocking new areas of the island, and
            collecting hidden prizes along the way. Think Candy Crush, but instead of just matching candy, you're uncovering parts
            of this beautiful island. Way more engaging, trust me.</p>
        </div>
    </div>
</section>
<section class="how-section" id="how">
    <div class="container how-container">
<h2>How to Play</h2>
<p>My mom could play this game - it's that easy to figure<br class="desk"/> out. Just tap and swipe, nothing complicated.</p>
<ul class="how-list">
    <li class="how-item">
        <img src="/img/how/one.png" alt="one" loading="lazy">
        <p>Swap adjacent fruits to form matches of three or more.</p>
    </li>
    <li class="how-item">
        <img src="/img/how/two.png" alt="two" loading="lazy">
        <p>Special matches create powerful boosters that clear larger areas.</p>
    </li>
    <li class="how-item">
        <img src="/img/how/three.png" alt="three" loading="lazy">
        <p>Complete level objectives to unlock new island zones.</p>
    </li>
    <li class="how-item">
        <img src="/img/how/four.png" alt="four" loading="lazy">
        <p>Progress through dozens of colorful puzzles with increasing difficulty.</p>
    </li>
</ul>
            <picture>
                <source srcset="
                /img/how/desk.png 1x,
                /img/how/desk@2x.png 2x
                " media="(min-width: 1440px)" />
                <source srcset="
                /img/how/mob.png 1x,
                /img/how/mob@2x.png 2x
                " media="(max-width: 1439px)" />
                <img src="/img/how/mob.png" alt="Bounty Match" loading="lazy" />
            </picture>    
    </div>
</section>