<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
            <h1 class="home-title">Bounty Match</h1>
            <p class="home-text">Chill out with puzzles while<br class="mob"/> exploring your own tropical paradise.</p>
            <a class="home-link" href="https://play.google.com/store/apps/details?id=com.PuzzlePoint.BountyMatch&hl=en&gl=us">
                <img src="/img/home/playstore.png" alt="playstore" loading="lazy">
                <img src="/img/home/button.png" alt="Google Play" loading="lazy">
            </a>
        </div>
    </div>
</section>