body{
  font-family: "Baloo 2", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #505050;
}
h2{
  font-family: "Baloo 2", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.12;
    text-align: center;
    color: #0e5a21;
    margin-bottom: 16px;
}
@media only screen and (min-width: 1440px) {
body{
font-size: 26px;
}
h2{
  font-size: 52px;
}
}