.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-container{
    position: relative;
    height: 760px;
}
.home-wrapper{
position: absolute;
        background-image: url("/img/home/mob-title.png");
            background-repeat: no-repeat;
            background-position: top right;
            background-size: cover;
            width: 100%;
            height: 219px;
            padding: 28px 24px;
left: 0;
top: 60%;
display: flex;
flex-direction: column;
align-items: center;
gap: 8px;
}
.home-title{
    font-family: "Baloo 2", sans-serif;
        font-weight: 600;
        font-size: 34px;
        line-height: 1.12;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
}
.home-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;
        text-align: center;
        color: #fff;
        width: 255px;
}
.home-link{
border-radius: 50px;
    padding: 12px 20px;
    width: 295px;
    height: 65px;
    background: linear-gradient(180deg, #ffc616 0%, #ffa230 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background 0.3s ease-in-out;
}
.home-link:hover{
background: linear-gradient(180deg, #ffb700 0%, #df7b00 100%);
}
@media only screen and (min-width: 1440px) {
  .home-section{
    background-image: url("/img/home/desk.png");
  }
  .home-wrapper{
    background-image: url("/img/home/desk-title.png");
    width: 672px;
        height: 430px;
        top: 30%;
        left: 4%;
        padding: 101px 50px;
  }
  .home-title{
    font-size: 72px;
  }
  .mob{
    display: none;
  }
  .home-text{
    font-size: 18px;
    width: 308px;
  }
  .home-link{
    margin-top: 16px;
    width: 240px;
        height: 65px;
  }
}
/* About the Game */
.about-wrapper{
background-image: url("/img/about/mob.png");
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
padding: 64px 16px 165px;

}
.about-container{
    padding-top: 80px;
}
@media only screen and (min-width: 1440px) {
.about-container {
        padding-top: 120px;
    }
.about-wrapper {
    background-image: url("/img/about/desk.png");
    padding: 64px 224px;
width: 1312px;
    height: 418px;
}
}
/* How to Play */
.how-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.how-list{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin-bottom: 40px;
}
.how-item{
    display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        font-size: 16px;
        width: 320px;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
    .desk{
        display: block;
    }
.how-list {
    margin-top: 64px;
    flex-direction: row;
    margin-bottom: 64px;
}
.how-item{
    width: 230px;
    font-size: 18px;
}
}
/* Features */
.features-section{
    background-image: url("/img/features/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 949px;
}
.features-wrapper{
    margin-top: 360px;
    border-radius: 36px;
        padding: 40px 24px;
        width: 343px;
        height: 464px;
        box-shadow: 8px 8px 16px 0 rgba(135, 135, 135, 0.12);
            background: #fdf8f4;
            display: flex;
flex-direction: column;
align-items: start;
}
.features-text{
    text-align: left;
}
.features-list{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.features-item{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    text-align: left;
    line-height: 1.12;
}
@media only screen and (min-width: 1440px) {
.features-section {
        background-image: url("/img/features/desk.png");
height: 680px;
    }
    .features-wrapper{
        margin-top: 0;
        padding: 64px 40px;
            width: 640px;
            height: 520px;
    }
.features-item {
    font-size: 20px;
line-height: 1.5;
}
}
/* Why Play Bounty Match */
.why-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.why-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
}
.why-title{
    text-align: left;
}
@media only screen and (min-width: 1440px) {
 .why-container{
    flex-direction: row-reverse;
    gap: 64px;
 }
 .why-wrapper{
    width: 600px;
 }
}
/* Gallery */
.gallery-section{
    background: #fdf8f4;
}
.gallery-title{
    margin-bottom: 40px;
}
@media only screen and (min-width: 1440px) {
.gallery-title {
        margin-bottom: 64px;
    }
}
/* FAQ */

.faq-title {
    margin-bottom: 40px;
}
.faq-acc {
    display: flex;
    flex-direction: column;
    width: 343px;
    margin: 0 auto;
    gap: 12px;

}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;
}

.faq-acc-el-title {
    margin-bottom: 0;
}

.faq-acc-el-trigger {
    border: none;
background: #126c40;
    border-radius: 12px;
    padding: 20px 16px;
    width: 343px;
    height: auto;
font-family: "Baloo 2", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.12;
    color: #fff;
    margin-bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    transition: transform 0.3s ease;
width: 24px;
    height: 24px;
    border: none;
    background-color: #FFA230;
    border-radius: 100%;
}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el-descr-frame {
    background: inherit;
    width: 343px;

    text-align: left;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}

.faq-acc-el.open .faq-acc-el-trigger {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.faq-acc-el.open .faq-acc-el-descr-frame {
font-family: "Baloo 2", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #e3e3e3;
    visibility: visible;
    opacity: 1;
    border: none;
    padding: 0 56px 20px 16px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
background: #126c40;
    width: 343px;
    max-height: 500px;
    margin-bottom: 16px;

}

@media only screen and (min-width: 1440px) {
    .faq-wrapper {
        width: 640px;
    }

    .faq-acc {
        width: 640px;
        margin: 0 auto;
        gap: 16px;
    }

    .faq-acc-el-trigger {
        width: 640px;
        font-size: 20px;
    }

    .faq-acc-el-descr-frame {
        width: 640px;
    }

    .faq-acc-el.open .faq-acc-el-descr-frame {
        width: 640px;
        font-size: 18px;
        margin-top: -1px;
    }

    .mob {
        display: none;
    }
}